@page
@model POO_3B1_30.Pages.Banco.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>@Html.DisplayFor(model => model.BancoDTO.Title)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BancoDTO.ID" />
            <div class="form-group">
                <label asp-for="BancoDTO.Title" class="control-label">Nome</label>
                <input asp-for="BancoDTO.Title" class="form-control" />
                <span asp-validation-for="BancoDTO.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BancoDTO.ReleaseDate" class="control-label">Lançamento</label>
                <input asp-for="BancoDTO.ReleaseDate" class="form-control" />
                <span asp-validation-for="BancoDTO.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BancoDTO.Genre" class="control-label">Autor</label>
                <input asp-for="BancoDTO.Genre" class="form-control" />
                <span asp-validation-for="BancoDTO.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BancoDTO.Price" class="control-label">Preço</label>
                <input asp-for="BancoDTO.Price" class="form-control" />
                <span asp-validation-for="BancoDTO.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> | 
                <a asp-page="./Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
