@page
@model IndexModel
@{
    ViewData["Title"] = "Formulario de Musica";
}

<div class="text-center">
    <h1 class="display-4">Formulario Musica</h1>
    <form class="form-group">
        <div class="form-group">
            <button class="btn btn-dark btn-block form-control" asp-page="/Banco/Index">Entrar</button>
        </div>
    </form>
</div>
